
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1
{
	font-family: 'Muli', sans-serif;
	color:black;
	text-align : center;
	padding-top: 7%;
	padding-bottom: 2%;
}
h2
{
	font-family: 'Muli', sans-serif;
	color:black;
	text-align : center;
}

article

{

text-align: center;
}




header{
/*	width: 500px;*/
	height:300px;
	background-image: url("imagesados/beach-dune-field-1710.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: auto;
	background-size: cover;
}
.imagetitre{
	width: 500px;
	height:300px;
	border-radius:200px;
	/*display : block;*/
	margin:auto;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse 
{
  text-align: justify;
  background: #DEDCB6;
}

.btn {
	margin-right: 40%;
}

h3
{color:#5B6A7F;
}

.texte {
	max-width: 60%;
	margin: auto;
}
.basket
{
	max-width: 60%;
}

.crayon{
	max-width: 60%;
}
.poteau{
	max-width: 60%;
}
.escargot{
	max-width: 60%;
}

aside
{background: #DEDCB6;

}
body


{
	background: #D1C2AB;
}

.navbar-header
{
background: #954465;
}

p
{color: #5B6A7F
}

footer{
	clear: both;
}

/*li{
	display:inline;
	margin: 50px 50px;
}*/

.titles {
	margin: 0;
	padding: 0;
}
